In [181]:
import requests
from bs4 import BeautifulSoup
import csv

In [183]:
import pandas as pd

In [250]:
csv_file=open('jops.csv' , 'w' ,encoding='utf-8')
write=csv.writer(csv_file)

In [252]:
write.writerow(['jop_title','Company' , 'address' , 'jop_type'])

36

In [254]:
for i in range(20):
    url =f"https://wuzzuf.net/search/jobs/?q=&start={i}"
    respons = requests.get(url).text
    html_contant = BeautifulSoup(respons,"html")
    Jops = html_contant.find_all("div",class_="css-pkv5jc")
    for Jop in Jops:
        joptitle = Jop.find("h2" , class_="css-m604qf").a.text
        company = Jop.find("div" , class_="css-d7j1kk").a.text
        addess = Jop.find("span" , class_="css-5wys0k").text
        joptype = Jop.find("span" , class_="css-1ve4b75 eoyjyou0").text
        jop_title.append(joptitle)
        Company.append(company)
        address.append(addess)
        jop_type.append(joptype)
        write.writerow([joptitle , company , addess , joptype])

In [255]:
csv_file.close()

In [256]:
data_set = pd.read_csv('jops.csv')

In [257]:
len(data_set)

300

In [258]:
data_set.head()

,jop_title,Company,address,jop_type
0,Mobile app developer (React Native),Leggera -,"San Stefano, Alexandria, Egypt",Full Time
1,HTML Implementation Specialist,Options -,"Cairo, Egypt",Full Time
2,Full Stack Developer,Leggera -,"San Stefano, Alexandria, Egypt",Full Time
3,Senior HR Representative,Options -,"Mohandessin, Giza, Egypt",Full Time
4,Human Resource Recruiter,Intelligent for field Marketing -,"Nasr City, Cairo, Egypt",Full Time

In [259]:
data_set.to_csv('wuzzuf_info.csv',  index=False , encoding='utf-8-sig' )